.button {

  color: var(--color-white);
  padding: .5rem 1.6rem .6rem;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: var(--radius);
  font-weight: 600;
  transition: all .3s ease-out;

  &.active {
    background-color: var(--color-secondary);
  }



  &.primary {
    background-color: var(--color-primary);

    &:hover {
      background-color: #c75af6;
    }
  }

  &.secondary {
    background-color: var(--color-secondary);

    &:hover {
      background-color: #7c91f9;
    }
  }

  &.tertiary {
    background-color: var(--color-tertiary);

    &:hover {
      background-color: #656ea3;
    }
  }

  &.danger {
    background-color: var(--color-danger);

    &:hover {
      background-color: #e98888;
    }
  }

  &.ui {
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }
  }

  &.ui-dark {
    background-color: var(--color-tertiary);
    color: #f2f4fe;

    &:hover {
      opacity: .75;
    }
  }
}