.button {
  color: var(--color-secondary);
  padding: .5rem 1.6rem .6rem;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: var(--radius);
  font-weight: 600;
  transition: all .3s ease-out;

  &.active {
    background-color: var(--color-secondary);
  }

  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
}