:root {}

html {
  font-size: 62.5%;

}

body {
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  line-height: normal;
  font-weight: 400;

  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.25px;


}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.187px;
}