@use '../abstract/mixins' as m;

:root {
  /* --------------------------------- Colors --------------------------------- */
  --color-primary: #AD1FEA;
  --color-secondary: #4661E6;
  --color-tertiary: #373F68;
  --color-white: #FFFFFF;
  --color-background: #F2F4FF;
  --color-surface: #F7F8FD;
  --color-accent: #3A4374;
  --color-heading: #647196;
  --color-warning: #F49F85;
  --color-danger: #D73737;
  --color-info: #62BCFA;

  /* --------------------------------- Border --------------------------------- */
  --radius: 1rem;
}

html {
  font-size: 62.5%;

}

body {
  @include m.body();
  background-color: var(--color-surface);

  min-height: 100vh;
  width: 100vw;
}