@use '../../abstract/mixins' as m;

.feedback-main-header {
  background-color: var(--color-tertiary);
  color: var(--color-white);
  padding: .8rem 2.4rem;

  @include m.flex-container(row, space-between) {}

  &__sort-button {
    padding: 1.05rem 0rem;

    &>span {
      margin-right: .8rem;
    }
  }

}